name: Build

on:
    push:
        branches: [master]
    pull_request:
    release:
        types: [created]
    schedule:
        -   cron: '0 4 * * *'

jobs:
    tests:
        runs-on: ubuntu-latest
        name: Build and test
        strategy:
            matrix:
                php: [7.2, 7.3, 7.4, 8.0, 8.1]
                deps: [high]
                include:
                    -   php: 8.0
                        deps: low

        steps:
            -   uses: actions/checkout@v2
                with:
                    fetch-depth: 0

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "${{ matrix.php }}"

            -   name: Install dependencies
                if: matrix.deps == 'high'
                run: composer install

            -   name: Install dependencies (min)
                if: matrix.deps == 'low'
                run: composer update --prefer-lowest --prefer-stable

            -   name: Run tests
                run: |
                    ./vendor/bin/phpspec run -f pretty &&
                    ./vendor/bin/behat --profile=ci --format=progress
